okul/*.pyc
okul/__pycache__
okul/okul/myvenv
okul/.DS_Store
okul/.vscode

kitapcilar/*.pyc
kitapcilar/__pycache__
kitapcilar/okul/myvenv
kitapcilar/.DS_Store
kitapcilar/.vscode

*.pyc
__pycache__
myvenv
.DS_Store
.vscode